body {
    text-align: center;
}


table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
}


form {
  text-align: center;
  margin-top: 10px;
}


.main-page-link {
    display: block; 
    text-align: start;
    color: red;
}

